# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local

# Logs
logs
*.log

# Archivos subidos
uploads/

# Coverage
coverage/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
